In [62]:
import pathlib
import pandas as pd
import sys 
sys.path.append('..')
import src.data_manage as dm

path = pathlib.Path().cwd()

In [15]:
data = dm.maternity_data()['msms_1']

In [39]:
data_women_national['file'] 
data_women_national['Period'] = pd.to_datetime((data_women_national.file.str.findall("(?<=-).+(?=-exp)")
                                                                        .apply(lambda x : x[0])),
                                               format='%b%y')

148       msms-apr17-exp-data.csv
149       msms-apr17-exp-data.csv
150       msms-apr17-exp-data.csv
151       msms-apr17-exp-data.csv
152       msms-apr17-exp-data.csv
                   ...
556775    msms-sep18-exp-data.csv
556776    msms-sep18-exp-data.csv
556777    msms-sep18-exp-data.csv
556782    msms-sep18-exp-data.csv
556783    msms-sep18-exp-data.csv
Name: file, Length: 1853, dtype: object

## exploring the data
I decided to drill down and have a look at national women first.

In [77]:
data_women_national = data.query('Org_Level=="National"').query('Count_Of=="Women"').dropna(axis=1,how='all')
data_women_national['Period'] = pd.to_datetime((data_women_national.file.str.findall("(?<=-).+(?=-exp)")
                                                                        .apply(lambda x : x[0])),
                                               format='%b%y')
data_women_national = data_women_national.drop(['file','Count_Of','Measure_Description','Org_Code','Org_Level','Org_Name'],axis=1)#set_index(['Period','Dimension',])

In [87]:
data_women_national.set_index(['Period','Dimension','Measure']).query('Dimension=="AgeAtBookingMotherGroup"').unstack().fillna(0)

                                      Value                             \
Measure                            20 to 24 25 to 29 30 to 34 35 to 39
Period     Dimension
2017-01-01 AgeAtBookingMotherGroup     9050    16570    17501     9218
2017-02-01 AgeAtBookingMotherGroup     8089    15405    16177     8597
2017-03-01 AgeAtBookingMotherGroup     8877    16330    17877     9472
2017-04-01 AgeAtBookingMotherGroup     7580    14103    15569     8439
2017-05-01 AgeAtBookingMotherGroup     8488    15436    16461     9124
2017-06-01 AgeAtBookingMotherGroup     8508    15378    16733     9307
2017-07-01 AgeAtBookingMotherGroup     8243    15254    16568     9190
2017-08-01 AgeAtBookingMotherGroup     8306    15365    16681     9252
2017-09-01 AgeAtBookingMotherGroup     7690    14648    15970     8917
2017-10-01 AgeAtBookingMotherGroup     8538    16137    17565     9774
2017-11-01 AgeAtBookingMotherGroup     8428    16171    17522     9552
2018-01-01 AgeAtBookingMotherGroup     9188    16998    18327     9643
2018-02-01 AgeAtBookingMotherGroup     7617    14625    15949     8463
2018-03-01 AgeAtBookingMotherGroup     8409    15601    17769     9686
2018-04-01 AgeAtBookingMotherGroup     7821    14899    16743     9185
2018-05-01 AgeAtBookingMotherGroup     8279    14958    16489     9312
2018-06-01 AgeAtBookingMotherGroup     7814    14450    16231     9102
2018-07-01 AgeAtBookingMotherGroup     7550    13947    15925     9058
2018-08-01 AgeAtBookingMotherGroup     7714    14632    16638     9011
2018-09-01 AgeAtBookingMotherGroup     7225    13994    16155     8801
2018-10-01 AgeAtBookingMotherGroup     7872    15195    17468     9683
2018-11-01 AgeAtBookingMotherGroup     8054    15812    17873     9819
2018-12-01 AgeAtBookingMotherGroup     7217    13956    15459     8543
2019-01-01 AgeAtBookingMotherGroup     9234    17722    19446    10588
2019-02-01 AgeAtBookingMotherGroup     7887    15113    17207     9077
2019-03-01 AgeAtBookingMotherGroup     7912    15424    17994     9798

                                                                               \
Measure                            40 to 44 45 or Over Under 20 Missing Value
Period     Dimension
2017-01-01 AgeAtBookingMotherGroup     1953        167     2307             1
2017-02-01 AgeAtBookingMotherGroup     1777        153     1982             0
2017-03-01 AgeAtBookingMotherGroup     2008        159     2334             0
2017-04-01 AgeAtBookingMotherGroup     1824        141     1974             0
2017-05-01 AgeAtBookingMotherGroup     2065        182     2205            24
2017-06-01 AgeAtBookingMotherGroup     2039        188     2154             6
2017-07-01 AgeAtBookingMotherGroup     1982        155     2131             4
2017-08-01 AgeAtBookingMotherGroup     1915        162     2133             5
2017-09-01 AgeAtBookingMotherGroup     1822        153     2014             4
2017-10-01 AgeAtBookingMotherGroup     2023        165     2166             8
2017-11-01 AgeAtBookingMotherGroup     2009        182     2105             0
2018-01-01 AgeAtBookingMotherGroup     2102        184     2267             0
2018-02-01 AgeAtBookingMotherGroup     1772        136     1959             0
2018-03-01 AgeAtBookingMotherGroup     2057        160     1960             0
2018-04-01 AgeAtBookingMotherGroup     1898        151     1937             0
2018-05-01 AgeAtBookingMotherGroup     1973        172     2206             1
2018-06-01 AgeAtBookingMotherGroup     1975        170     2006             1
2018-07-01 AgeAtBookingMotherGroup     1953        181     1914             1
2018-08-01 AgeAtBookingMotherGroup     1922        192     1905             0
2018-09-01 AgeAtBookingMotherGroup     1887        166     1796             0
2018-10-01 AgeAtBookingMotherGroup     2081        161     1991             0
2018-11-01 AgeAtBookingMotherGroup     2120        158     2045             1
2018-12-01 AgeAtBookingMotherGroup     1927        163     1720             0
2019-01-01 AgeAtBookingMotherGroup     2316        201     2376             0
2019-02-01 AgeAtBookingMotherGroup     1974        140     1972             3
2019-03-01 AgeAtBookingMotherGroup     2041        185     1984             1


Measure                            Value outside reporting parameters
Period     Dimension
2017-01-01 AgeAtBookingMotherGroup                                  0
2017-02-01 AgeAtBookingMotherGroup                                  0
2017-03-01 AgeAtBookingMotherGroup                                  0
2017-04-01 AgeAtBookingMotherGroup                                  0
2017-05-01 AgeAtBookingMotherGroup                                  0
2017-06-01 AgeAtBookingMotherGroup                                  0
2017-07-01 AgeAtBookingMotherGroup                                  0
2017-08-01 AgeAtBookingMotherGroup                                  0
2017-09-01 AgeAtBookingMotherGroup                                  0
2017-10-01 AgeAtBookingMotherGroup                                  0
2017-11-01 AgeAtBookingMotherGroup                                  1
2018-01-01 AgeAtBookingMotherGroup                                  0
2018-02-01 AgeAtBookingMotherGroup                                  0
2018-03-01 AgeAtBookingMotherGroup                                  0
2018-04-01 AgeAtBookingMotherGroup                                  0
2018-05-01 AgeAtBookingMotherGroup                                  0
2018-06-01 AgeAtBookingMotherGroup                                  0
2018-07-01 AgeAtBookingMotherGroup                                  0
2018-08-01 AgeAtBookingMotherGroup                                  0
2018-09-01 AgeAtBookingMotherGroup                                  1
2018-10-01 AgeAtBookingMotherGroup                                  0
2018-11-01 AgeAtBookingMotherGroup                                  0
2018-12-01 AgeAtBookingMotherGroup                                  0
2019-01-01 AgeAtBookingMotherGroup                                  1
2019-02-01 AgeAtBookingMotherGroup                                  1
2019-03-01 AgeAtBookingMotherGroup                                  1

In [57]:
import datetime
datetime.datetime.strptime(data_women_national['period'].iloc[0],'%b%y')

datetime.datetime(2017, 4, 1, 0, 0)

In [64]:
pd.to_datetime(data_women_national['period'],format='%b%y')

148      2017-04-01
149      2017-04-01
150      2017-04-01
151      2017-04-01
152      2017-04-01
            ...
556775   2018-09-01
556776   2018-09-01
556777   2018-09-01
556782   2018-09-01
556783   2018-09-01
Name: period, Length: 1853, dtype: datetime64[ns]